# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dbd767007038a4adcfe9982cd4fed945168daf28e0c68478d174e911618baa360df197547abd4b2fa92f5856ae059c82a15a8b658cfc1f98006bbb32465c49f2

test:
  secret_key_base: 9bf4729c604f7d3721aed8053dd72b7cb3aed532267932ff6d526a08c2781e46571e2996f42b1c9d7bb451bec0a90a8090f9dff0208e1d31e0afc98baa17a396

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
