
/*home*/
#background {
    background-image: image-url('yorki_2.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  header {
    padding: 3rem 0;
    #logo {
      float: left;
      text-transform: uppercase;
      font-weight: 900;
      color: $highlight;
      text-decoration: none;
      letter-spacing: 1px;
      &:hover {
        color: darken($highlight, 30%);
      }
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;
          a {
            color: $highlight;
            text-decoration: none;
            font-weight: 600;
            &:hover {
              color: darken($highlight, 30%);
            }
          }
        }
      }
    }
  }
  h1 {
    color: $white;
    font-size: 4.0rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 15rem 0 2rem 0;
  }
  .button {
    margin: 1.5rem 2.5% 0 2.5%;
  }
}
